* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 0.5rem;
  background-color: #22262f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    padding: 0.75rem;

  }
}